.stamp {
     width:250px;
     height:100px;
     position:absolute;
     left:50%;
     top:50%;
     margin:-50px 0 0 -125px;
}

.stamp * {
	display: block;
	text-align: center;
	color: #333;
	text-decoration: none;
}

.stamp a:hover {
	color: #4c87cd;
}